<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidebeating-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,489},{193,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,166}}</string>
                <key>sourceSize</key>
                <string>{193,166}</string>
            </dict>
            <key>guidebeating-a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,178},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>guidebeating-a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>guidebeating-a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,492},{113,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,154}}</string>
                <key>sourceSize</key>
                <string>{113,154}</string>
            </dict>
            <key>guidebeating-a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,492},{119,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,156}}</string>
                <key>sourceSize</key>
                <string>{119,156}</string>
            </dict>
            <key>guidebeating-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,232}}</string>
                <key>sourceSize</key>
                <string>{314,232}</string>
            </dict>
            <key>guidebeating-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,287},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>guidebeating-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,111},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>guidebeating-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,178},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>guidebeating-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{197,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{197,174}</string>
            </dict>
            <key>guidebeating-f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,255},{235,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,196}}</string>
                <key>sourceSize</key>
                <string>{235,196}</string>
            </dict>
            <key>guidebeating-f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{251,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,201}}</string>
                <key>sourceSize</key>
                <string>{251,201}</string>
            </dict>
            <key>guidebeating-f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,255},{235,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,196}}</string>
                <key>sourceSize</key>
                <string>{235,196}</string>
            </dict>
            <key>guidebeating-f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{251,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,201}}</string>
                <key>sourceSize</key>
                <string>{251,201}</string>
            </dict>
            <key>guidebeating-f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{197,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{197,174}</string>
            </dict>
            <key>guidebeating-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,361},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>guidebeating-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,111},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>guidebeating-i.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>guidebeating-i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,453},{112,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,92}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>guidebeating-j.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,453},{23,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,80}}</string>
                <key>sourceSize</key>
                <string>{23,80}</string>
            </dict>
            <key>guidebeating-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,178},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide_beating.png</string>
            <key>size</key>
            <string>{951,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97230c61e46ad406c884ce48f195ed4d$</string>
            <key>textureFileName</key>
            <string>guide_beating.png</string>
        </dict>
    </dict>
</plist>
