<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heropkparts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{525,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,168}}</string>
                <key>sourceSize</key>
                <string>{525,168}</string>
            </dict>
            <key>heropkparts-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{83,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,178}}</string>
                <key>sourceSize</key>
                <string>{89,178}</string>
            </dict>
            <key>heropkparts-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1467},{87,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,178}}</string>
                <key>sourceSize</key>
                <string>{91,178}</string>
            </dict>
            <key>heropkparts-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1242},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>heropkparts-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1953},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>heropkparts-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1768},{51,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>heropkparts-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2004},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>heropkparts-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1906},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>heropkparts-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2004},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>heropkparts-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1647},{87,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,177}}</string>
                <key>sourceSize</key>
                <string>{89,177}</string>
            </dict>
            <key>heropkparts-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heropkparts-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{233,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,46}}</string>
                <key>sourceSize</key>
                <string>{233,46}</string>
            </dict>
            <key>heropkparts-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{233,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,46}}</string>
                <key>sourceSize</key>
                <string>{233,46}</string>
            </dict>
            <key>heropkparts-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{272,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{272,136}}</string>
                <key>sourceSize</key>
                <string>{284,150}</string>
            </dict>
            <key>heropkparts-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1154},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{90,161}</string>
            </dict>
            <key>heropkparts-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1906},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>heropkparts-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1768},{136,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,174}}</string>
                <key>sourceSize</key>
                <string>{136,174}</string>
            </dict>
            <key>heropkparts-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,801},{123,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,171}}</string>
                <key>sourceSize</key>
                <string>{123,171}</string>
            </dict>
            <key>heropkparts-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1826},{122,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,176}}</string>
                <key>sourceSize</key>
                <string>{122,176}</string>
            </dict>
            <key>heropkparts-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1288},{96,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,177}}</string>
                <key>sourceSize</key>
                <string>{96,177}</string>
            </dict>
            <key>heropkparts-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{204,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,190}}</string>
                <key>sourceSize</key>
                <string>{204,190}</string>
            </dict>
            <key>heropkparts-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1548},{218,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,211}}</string>
                <key>sourceSize</key>
                <string>{218,211}</string>
            </dict>
            <key>heropkparts-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{222,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,218}}</string>
                <key>sourceSize</key>
                <string>{222,218}</string>
            </dict>
            <key>heropkparts-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1321},{225,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,190}}</string>
                <key>sourceSize</key>
                <string>{225,190}</string>
            </dict>
            <key>heropkparts-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1750},{185,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,176}}</string>
                <key>sourceSize</key>
                <string>{185,176}</string>
            </dict>
            <key>heropkparts-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,926},{82,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,165}}</string>
                <key>sourceSize</key>
                <string>{86,165}</string>
            </dict>
            <key>heropkparts-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{509,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,402}}</string>
                <key>sourceSize</key>
                <string>{509,402}</string>
            </dict>
            <key>heropkparts-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1010},{142,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,164}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>heropkparts-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{350,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,262}}</string>
                <key>sourceSize</key>
                <string>{350,262}</string>
            </dict>
            <key>heropkparts-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{350,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,262}}</string>
                <key>sourceSize</key>
                <string>{350,262}</string>
            </dict>
            <key>heropkparts-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,660},{81,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{81,173}}</string>
                <key>sourceSize</key>
                <string>{87,173}</string>
            </dict>
            <key>heropkparts-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1240},{79,153}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,153}}</string>
                <key>sourceSize</key>
                <string>{85,159}</string>
            </dict>
            <key>heropkparts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1104},{76,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,164}}</string>
                <key>sourceSize</key>
                <string>{82,164}</string>
            </dict>
            <key>heropkparts-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,743},{56,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,172}}</string>
                <key>sourceSize</key>
                <string>{62,172}</string>
            </dict>
            <key>heropkparts-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,576},{82,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,173}}</string>
                <key>sourceSize</key>
                <string>{88,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heropk.png</string>
            <key>size</key>
            <string>{529,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56b32556d4553bc85d63701c7498564d:1/1$</string>
            <key>textureFileName</key>
            <string>heropk.png</string>
        </dict>
    </dict>
</plist>
