<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logoparts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,338}}</string>
                <key>sourceSize</key>
                <string>{352,338}</string>
            </dict>
            <key>logoparts-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,35},{90,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,31}}</string>
                <key>sourceSize</key>
                <string>{90,31}</string>
            </dict>
            <key>logoparts-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{129,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,31}}</string>
                <key>sourceSize</key>
                <string>{129,31}</string>
            </dict>
            <key>logoparts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,342},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>logoparts-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,147},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>logoparts-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,247},{109,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,86}</string>
            </dict>
            <key>logoparts-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,431},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>logoparts-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{245,247}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{245,247}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>logoparts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,335},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>logoparts-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,428},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>logoparts-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,35},{110,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{110,112}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{503,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b44af025d333086cf6ca91becd6718e$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
